@import "../../assets/sass/variables.scss";
.container-home {
  height: 100%;
  width: 100%;
}
.content-home {
  margin: auto;
  max-width: 980px;
}

.content-home .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -2rem;
}
.cards .card {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: $purple;
  color: #ffff;
  border-radius: 5px;
  height: 8rem;
  padding: 1rem;
  margin: 7px;
  &:hover {
    background: #605bc2;
    cursor: pointer;
    transition: 0.2s ease;
  }
}
.cards .card strong {
  font-size: 1.3rem;
}
.cards .card span {
  font-size: 1.2rem;
}
.cards .card svg {
  margin-left: 0.3rem;
}
.section-charts {
  display: inline;
}
.charts {
  display: flex;
  padding-top: 1.8rem;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
.section-charts h2 {
  color: #999;
  text-align: center;
  font-size: 1.7rem;
}
